<div class="container-fluid">
    <div class="row">
        <div class=" col-md-6" id="gauche-col" style="position: relative;">
            <h1 class="display-1"
                style="border-radius: 20%; padding: 5%;background-color: rgba(255, 255, 255, 0.5);width: 80%;position: absolute; top: 50%; left: 50%; transform: translate(-50% ,-50%);">
                Bienvenu sur <span style="color: brown;">"LE"</span> site web des comics !
                <h1 class="display-3"> Rejoins nous !</h1>
                <p class="lead" style="color: brown; font-weight:900; font-style: italic; font-size: 2rem;"> “I still
                    believe in heroes.”</p>
            </h1>
        </div>
        <div class="col-md-6 m-0 p-0" id="droit-col">
            <div class="m-0 p-0"
                style="background-color: rgba(255, 255, 255, 0.5); height: 100%; width: 100%; position: relative;">
                <form class="rounded p-5"
                    style=" background-color:rgba(255, 255, 255, 0.8); width: 80%;position: absolute; top: 50%; left: 50%; transform: translate(-50% ,-50%);">
                    <div class="mb-3">
                        <h2>Se connecter</h2>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**********">
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Rester connecté</label>
                      </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Créer un compte</button>
                        <button type="button" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
                                </path>
                            </svg>
                            Button
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>