<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div *ngIf="movies$ | async as movies" class="card-body">
          <div *ngFor="let item of movies" class="col-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <img [src]="item.image" width="50px" height="50px" style="height:100%;" />
                      <h6 class="card-subtitle mb-2 text-muted">{{item.release_date}}</h6>
                      <p class="card-text">{{item.deck}}</p>
                      <button type="button" class="btn btn-danger float-right">Supprimer</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>