version: '2.0'

services:
    postgres:
        image: postgres:13-alpine
        restart: always
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
        ports:
            - 5432:5432
        volumes:
            - db-data:/var/lib/postgresql/data

    bande-dessinee-fr:
        image: docker.pkg.github.com/univ-smb-m1-isc-2020/bande-dessinee-fr/bande-dessinee-fr:latest
        restart: always
        ports:
            - 8080:80
        depends_on:
            - bande-dessinee-fr-backend

    bande-dessinee-fr-backend:
        image: docker.pkg.github.com/univ-smb-m1-isc-2020/bande-dessinee-fr/bande-dessinee-fr-backend:latest
        restart: always
        ports:
            - 8081:8080
        depends_on:
            - postgres

    adminer:
        image: adminer
        restart: always
        ports:
            - 7000:8080
        depends_on:
            - postgres
volumes:
    db-data: