<div class="position-fixed">
    <div class="d-flex flex-column p-3 text-white bg-dark clearfix"
        style="width: 280px; height:100vh; min-height:100%;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Bande dessinée fr</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a routerLink="/admin/home" routerLinkActive="active" class="nav-link text-white">
                    Home
                </a>
            </li>
            <li>
                <a routerLink="/admin/add" routerLinkActive="active" class="nav-link text-white">
                    Add
                </a>
            </li>
            <li>
                <a routerLink="/admin/settings" routerLinkActive="active" class="nav-link text-white">
                    Settings
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>