<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div *ngIf="notifications$ | async as notifications">
            <div *ngFor="let item of notifications" class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Movie : {{item.movie_id}} is new from publisher {{item.publisher_id}}</h5>
                        <button type="button" class="btn btn-primary float-right"
                            (click)="goToMovie(item.id)">
                            Go see the movie
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>