<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div *ngIf="notifications$ | async as notifications">
            <div *ngFor="let item of notifications" class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{item.utilisateur_id}}</h5>
                        <h5 class="card-title">{{item.movie_id}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>