<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div *ngFor="let item of this.page | async" class="card-body">
                    <h5 class="card-title">item.movies.name</h5>
                    <img [src]="item.movies.image" width="50px" height="50px" style="height:100%;">
                </div>
                <h6 class="card-subtitle mb-2 text-muted">item.movies.release_date</h6>
                <p class="card-text">item.movies.deck</p>
                <button type="button" class="btn btn-danger float-right">Supprimer</button>
            </div>
        </div>
    </div>
</div>

