<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TITRE</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sous Titre</h6>
                    <p class="card-text">Description</p>
                    <button type="button" class="btn btn-danger float-right">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>