<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div *ngIf="movies$ | async as movies">
            <div *ngFor="let item of movies" class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <img [src]="item.image" width="50px" height="50px" style="height:100%;" />
                        <h6 class="card-subtitle mb-2 text-muted p-1">{{item.release_date}}</h6>
                        <p class="card-text">{{item.deck}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>