name: Publish backend image

on:
  push:
    branches:
      - master
defaults:
  run:
    working-directory: backend

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Build Docker image
      run: docker build -t bande-dessinee-fr .
    
    - name: Push to GitHub Packages
      uses: docker/build-push-action@v1
      with:
        context: .
        dockerfile: ./Dockerfile
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        repository: univ-smb-m1-isc-2020/bande-dessinee-fr/bande-dessinee-fr-backend
        tag_with_ref: true
